<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>_{{quote.creator}}</p>
        </div>
        <div class="col-md-6">
            <p>Published By: {{quote.yourName}}</p>
        </div>
        <div class="col-md-6">
            <i (click)='likeButtonClick()' class="far fa-grin-alt fa-2x"></i>
            {{likes}}  &nbsp;&nbsp;&nbsp;
              <i (click)='dislikeButtonClick()' class="fas fa-angry fa-2x"></i>
            {{dislikes}}
        </div>
        <div class="col-md-6">
            <i (click)= 'quoteDelete(true)' class="fas fa-trash fa-2x " ></i>
        </div>
        <p>{{quote.completeDate|dateCount}} days</p>
    </div>
</div>






