<div class="container-fluid">
    <h2 class="text-center">Add a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="creator">Creator</label>
            <input type='text' id="creator" required class="form-control">
  
        </div>
        <div class="form-group">
  
            <label for="Name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>

    </form>
  </div>
