<div class="container-fluid forms">
    <h2 class="text-center">Add a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote() ;quoteForm.resetForm({})' #quoteForm='ngForm'>

        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.name" name="quote" #quote='ngModel' required></textarea>
        </div>
        <div class="form-group">
            <label for="creator">Creator</label>
            <input type='text' id="creator" [(ngModel)]="newQuote.creator" name="creator" #creator="ngModel" required class="form-control">
  
        </div>
        <div class="form-group">
  
            <label for="Name">Publisher</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.yourName" name="yourName" #creator="ngModel" required>
  
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark">Add Quote</button>
    </form>
  </div>
