.forms{
    background: rgba(220, 20, 60, 0.8);
    padding: 3rem;
    border-radius: 30px;
}
.forms:hover{
    box-shadow: 0 0 10px rgb(112, 108, 108), 0 0 20px rgb(112, 108, 108), 0 0 40px rgb(112, 108, 108);
}